html {
  font-size: 80%;
}
table {
  table-layout: fixed;
}
/* 盤全体を黒色にする */
.board {
  background-color: black;
  border: none;/*動かない*/
}
/* マス１つ１つを緑色の正方形にする */
.board tr td{
  background-color: seagreen;
  width: 5rem;
  height:5rem;
  text-align: center;
  vertical-align: center;
  font-size: 1.4rem;/*これは効いてないっぽい*/
  cursor: pointer;
  padding: 0.1rem,0.1rem,0.1rem,0.1rem;
}
th {
  background-color: white;
}
/* 黒石 */
.kuro:before {
  color: black;
  content: "●";
  font-size: 3rem;/*これは効いてないっぽい*/
}
/* 白石 */
.shiro:before {
  color: white;
  content: "●";
  font-size: 3rem;/*これは効いてないっぽい*/
}
.evalmode{
  color: blue;
  font-size: 0.3rem;/*これは効いてないっぽい*/
}