/* 盤全体を黒色にする */
.board {
  background-color: black;
  border: none;/*動かない*/
}
/* マス１つ１つを緑色の正方形にする */
.board tr td{
  background-color: seagreen;
  width: 4rem;
  height: 4rem;
  text-align: center;
  vertical-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}
th {
  background-color: white;
}
/* 黒石 */
.kuro:before {
  color: black;
  content: "●";
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: center;
  font-size: 2.8rem;
}
/* 白石 */
.shiro:before {
  color: white;
  content: "●";
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: center;
  font-size: 2.8rem;
}
.evalmode{
  color: blue;
  font-size: 0.3rem;/*これは効いてないっぽい*/
}