html {
  font-size: 80%;
}
table {
  table-layout: fixed;
}


/* 黒石 */
.kuro/*:before*/ {
  /*
    color: black;
    content: "●";
    font-size: 3rem;*//*これは効いてないっぽい*/
    height: auto;
    width:auto;
    background: center url("images/disc-black.png") no-repeat;
  }
  /* 白石 */
  .shiro/*:before*/ {
  /*
    color: white;
    content: "●";
    font-size: 3rem;*//*これは効いてないっぽい*/
    height: auto;
    width:auto;
    background: center url("images/disc-white.png") no-repeat;
  }
/* 盤全体を黒色にする */
.board {
  background-color: black;
  border: none;/*動かない*/
}
/* マス１つ１つを緑色の正方形にする */
.board tr td{
  background-color: seagreen;
  width: 5rem;
  height:5rem;
  text-align: center;
  vertical-align: center;
  font-size: 1.4rem;/*これは効いてないっぽい*/
  cursor: pointer;
  padding: 0.1rem,0.1rem,0.1rem,0.1rem;
}
th {
  background-color: gray;
}

.evalmode{
  color: blue;
  font-size: 0.3rem;/*これは効いてないっぽい*/
}
.score{
  text-align: center;
  vertical-align: auto;
  width: 43.6rem;
  height:4rem;
  background-color: gray;/*これが効かないのなんで〜〜〜〜*/
}
#blackscore ::before{
  text-align: center;
  vertical-align: auto;
  font-size: 3rem;
  color: black;
  content: "●";
}
#blackdisc {
  text-align: center;
  vertical-align: auto;
  font-size: 3rem;
}
#whitescore ::before{
  text-align: center;
  vertical-align: auto;
  font-size: 3rem;
  color: white;
  content: "●";
}
#whitedisc {
  text-align: center;
  vertical-align: auto;
  font-size: 3rem;
  color: white;
}
#undobutton {
  width: 9rem;
  height: 3.2rem;
  font-size: 2rem;
}

#newbutton {
  width: 9rem;
  height: 3.2rem;
  font-size: 2rem;
}